.DS_Store
Notes.md
testing/
nlink/target
qt/build
dist/*.AppImage
dist/arch/src/
dist/arch/pkg/
dist/arch/*.pkg.tar.*
dist/arch/*.tar.gz
dist/arch/*.log
*.tns

.env.local
.env.*.local

.idea
.vscode
*.suo
*.sw?
